main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
.header {
    height: 80px;
    width: 100%;
    font-size: 30px;
    color:green;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    text-align: center;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body{
    background-size: cover;
    min-height: 100vh;
    background-image: url("https://source.unsplash.com/1600x900/?flower");
}
.allFlowers {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #4CAF50;
    color: #fff;
  }
  tbody tr:hover {
    background-color: #f5f5f5;
  }

#resultarea {
    padding: 5px;
    margin-top: 15px;
    font-weight: bold;
}
.flower {
    
}
#fields {
    max-width: 400px;
    margin: 0 auto;
  }

  p {
    margin-bottom: 15px;
  }

  label {
    background-color: #ccc;
    color: #4CAF50;
    display: block;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: x-large;
    width: 50%;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  select {
    font-size: 18px;
  }
button {
  width: 20%;
  height: 40px; 
  margin-top: 10px;
  background-color: #2bd5ec;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: inset 2px 2px 10px rgba(255,255,255,.1), inset -5px -8px 8px rgba(0,0,0,.2);
  transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
  }

.error{
    color:red;
}

.info{
    color:green;
}